{
  "extends": ["react-app"],
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/accessible-emoji": "off",
    "array-callback-return": "off"
  },
  "globals": {
    "ga": true,
    "VL": true,
    "graphql": true,
    "document": true,
    "window": true,
    "Intercom": true
  }
}
